:root {
    --mycolor1: #6DB1FF;
    --mycolor2: #F16165;
    --mycolor3: #FFBA05;
    --mycolor4: #DCFF82;
    --mycolor5: #653298;
    --mycolor6: #00C86F;
}

body {
    /* background-color: white; */
    padding: 0;
    margin: 0;
    /* vertical-align: baseline; */
    border: 0;
    font-family: "Lato", sans-serif;
}

.header-content a .active1 {
    text-align: start;
    right: 30px;
}

.ad {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: rebeccapurple;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: white;
    padding: 13px;
    text-decoration: none;
}

.sidebar a.active,
.ord,
.pro,
.fin {
    background-color: #27C2E1;
    color: white;
}

.sidebar a:hover:not(.active, .ord, .pro, .fin) {
    background-color: #AE67DE;
    color: white;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    
    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        /* float: none; */
    }
}

.main-container {
    padding: 40px;
}

.first-container {
    width: 80%;
    background-color: whitesmoke;
    padding: 15px;
    border: 3px solid;
    margin: 0px auto;
    position: relative;
    left: 125px;
    
}
.order {
    color: var(--mycolor5);
    font-weight: bold;
   
}
.process {
    background-color: var(--mycolor1);
    cursor: pointer;
}
.processed {
    background-color: var(--mycolor2);
    cursor: pointer;
}
.toShip {
    background-color: var(--mycolor3);
    cursor: pointer;
}
.shipin {
    background-color: var(--mycolor4);
    cursor: pointer;
}
.comp {
    background-color: var(--mycolor5);
    cursor: pointer;
}
.cancel {
    background-color: var(--mycolor6);
    cursor: pointer;
}


.panggalawa {
    padding: 40px;
}

.second-container {
    width: 80%;
    height: 300px;
    background-color: #cbcece;
    padding: 15px;
    border: 3px solid;
    margin: 0px auto;
    position: relative;
    left: 125px;
}

.insight {
    text-align: left;
    padding-left: 400px;
    padding-top: 5px;
    font-weight: bolder;
}

.tatlo {
    padding: 40px;
}

.thrird-container {
    width: 80%;
    height: 300px;
    background-color: #cbcece;
    padding: 15px;
    border: 3px solid;
    margin: 0px auto;
    position: relative;
    left: 125px;
}

.rank {
    text-align: left;
    padding-left: 400px;
    padding-top: 20px;
    font-weight: bolder;
}

/* order container */

.order-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;

}

.order-card-container>* {
    width: 200px;
    height: 90px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
}

/* Login display */

.wrapper {
   
    position: relative;
    display: flex;
    justify-content: center !important;
    align-items: center;
    overflow: hidden;
    min-width: 100%;
    min-height: 100vh;
   
    
}

.auth-content {
    position: relative;
    width: 480px;
    padding: 15px;
    z-index: 5;
    border: 1px solid blue;
    border-radius: 15px;
}

.auth-content .card {
    margin-bottom: 0;
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    
    border: none;
    transition: all 0.5s;
} 
.card-body {
    padding: 30px 25px;
    flex: 1 1 auto;
    min-height: 1px;
    
}
.text-center {
    text-align: center;
}
/* .main-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-width: 100%;
    height: 100vh;
    padding: 0px auto;
}


/**************************************/
.col-lg-12 {
    margin: 0;
    padding: 0;
    background-color: var(--mycolor5);
    height: auto;
    justify-content: center;
    align-items: center;
    padding-left: 35%;
    padding-right: 70%;
   
    
}
.card {
    position: absolute;
    justify-content: center;
    align-items: center;
    padding: 0, auto;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 2px; 

}
.card-header {
    color: var(--mycolor5);
}
.card-title {
    text-align: center;
}